// Container
.container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ----------------- */

.nav {
  .nav-list {
    display: flex;
    &__item {
      padding: 12px 25px;
      background: #ebebeb;
      border: 1px solid rgb(0 0 0 / 27%);
      border-radius: 5px;
      margin-right: 8px;
      transition: all 0.5s ease;
      color: #000;
      cursor: pointer;

      &:hover {
        background: #ffee9d;
        border: 1px solid rgb(0 0 0 / 30%);
      }
    }
  }
}
